# Copy this file to terraform.tfvars and fill values.

bucket_name = "nelie-genai-devops-logs-001"       
kms_key_id  = "<your-kms-key-arn>"               

tags = {
  Project = "GenAI-DevOps"
  Owner   = "Nelie"
}
